.check-head { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 0 10px; background: #fff;-webkit-box-shadow: 0 0 14px rgba(67, 90, 142, 0.2); box-shadow: 0 0 14px rgba(67, 90, 142, 0.2); }
.check-head .check-tit { font-size: 24px; text-align: center; color: #da0000; }
.check-head .check-box { margin: 30px 0 10px; font-size: 0; text-align: center; }
.check-head .check-box > * { display: inline-block; vertical-align: middle; margin: 0 10px; }
.check-head .check-box .check-ipt { -webkit-box-sizing: border-box; box-sizing: border-box; width: 578px; height:48px; padding: 5px 20px; border: 1px solid #dddddd; background: #ffffff; font-size: 16px; color: #999999; }
.check-head .check-box .check-btn {  -webkit-appearance: none; border: 0; border-radius: 0; cursor: pointer; font-family: "Microsoft YaHei"; font-size: 18px; height: 48px; letter-spacing: 1px; top: 0; vertical-align: top; width: 140px; background-color: #4581fb; color: #FFFFFF;  margin: 0 10px; }
.check-head .check-box .check-btn.check-btn1 { background:#4581fb;}
.check-head .check-box .check-btn.check-btn2 { background:#ff6000;}
.check-head .check-tips { font-size: 16px; line-height: 28px; color: #ff2020; text-align: center; }
.check-report { padding: 15px 0 20px; font-size: 16px; font-weight: bold; text-align: center; }
.check-table table { width: 100%; table-layout: fixed; border-collapse: collapse; border-left: 1px solid #e6e6e6; text-align: center; }
.check-table tr.coveryellow { background: #FFF5F5; }
.check-table th, .check-table td { -webkit-box-sizing: border-box; box-sizing: border-box; word-break: break-all; padding: 0 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.check-table th { height: 36px; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; background: #ffffff; font-size: 14px; line-height: 36px; font-weight: bold; color: #da0000; }
.check-table td { border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; font-size: 13px; line-height: 36px; }
.check-table .color-warning { color: #ff5400; }
.check-table .color-error { color: #FF1414; }
.check-result .result-success { height: 36px; background: #5ebb81; line-height: 36px; font-size: 14px; font-weight: bold; text-align: center; color: #ffffff; }
.check-result .result-success i { margin: 0 4px; vertical-align: -4px; }
.check-result .result-details img { display: block; max-width: 100%; margin: 10px auto; }
/*分页*/
.digg{ height:60px; line-height:60px; overflow:hidden; text-align:center; }
.digg a, .digg span{ padding:8px 15px; border:solid 1px #F6F6F6; margin-right:5px; }
.digg span.current{ background:#003e99; color:#FFFFFF;}
/*关键词高亮*/
span.hk{ color:#da0000; }
/*文字说明*/
.center{ width:100%;padding-bottom:10px; font-family: Microsoft YaHei;background:#FFF}
.center .title{ font-size: 30px; font-weight: 700; color: #666; text-align: center }
.center .line{ width: 64px; height: 5px; background: #fb7a24; border-radius: 3px; margin: 15px auto }
.center .introduce{ padding: 10px 0 20px 0; color: #333; font-size: 16px; font-weight: 400; line-height: 26px; text-align: center }
.center .introduce .label{ color: #fb7a24 }
.center .iconBox{ margin: 0 auto }
.center .iconBox .iconList{ display: flex; justify-content: center }
.center .iconBox .iconList .item{ display: flex; flex-direction: column; padding: 10px 30px }
.center .iconBox .iconList .item .top{ width: 100px; height: 100px; margin: 0 auto }
.center .iconBox .iconList .item .centertxt{ font-size: 18px; font-weight: 700; color: #e57837; text-align: center; margin: 5px 0 }
.center .iconBox .iconList .item .bottom{ font-size: 16px; font-weight: 300; color: #666; margin: 5px 0 }

.item3{ background-color:#ff5837; border-radius: 4px; font-size:24px; color: #FFF}
.item4, .item3{width: 28px; height:34px; font-family: DIN; font-weight: 500; text-align: center; line-height: 34px; margin-left: 5px; display:inline-block}
.item4{ font-size: 24px; color:#999;}

.commonTable table tr:hover td{ background:#FFFFCC; }
.commonTable th { height: 40px; line-height: 40px; font-weight: bold; background: #0558ad; color: #FFF; border: 1px solid #dddddd; }
.blackTitle {margin-top: 10px; background: #FFF; overflow: hidden; line-height: 56px; height: 56px; padding: 0 30px; }
.blackTitle .left { float: left; }
.blackTitle .left span { font-size: 22px; font-weight: bold; color: #da0000; }
.blackTitle .left b { font-size: 16px; color: #FFC3C3; font-weight: bold; margin-left: 12px;}
.blackTitle .right {float: right; font-size: 18px; color: #ff5837; }