.swrapbox { background: #FFFFFF; padding-top: 20px;text-align: center}
.schbox { width: 940px; height: 50px; overflow: hidden; margin: 0 auto; }
/*/ FORM表单 /*/
input.txtbox { width: 560px; box-sizing: border-box; font-size: 15px; height: 46px; outline: none; padding: 13px 10px 12px 10px; border: 1px solid #DDDDDD; }
input.ckbox { padding: 15px; }
input.schbtn { -webkit-appearance: none; border: 0; border-radius: 0; cursor: pointer; font-family: "Microsoft YaHei"; font-size: 18px; height: 46px; letter-spacing: 1px; top: 0; vertical-align: top; width: 120px; background: #4581fb; color: #FFF; }
input.schbtn:hover { background: #498ad1; cursor: pointer; }
input.subtn { width: 320px; height: 55px; line-height: 55px; color: #FFFFFF; background-color: #DA0000; border: solid 1px FC5F3A; border-radius: 2px; }
input.subtn:hover { background-color: #C24237; cursor: pointer; }
input.schbtna { -webkit-appearance: none; border: 0; border-radius: 0; cursor: pointer; font-family: "Microsoft YaHei"; font-size: 18px; height: 46px; letter-spacing: 1px; top: 0; vertical-align: top; width: 120px; background: #ff651b; color: #FFF; }
input.schbtna:hover { background: #ff7f32; cursor: pointer; }
/*/ 表单美化 /*/
.smalldroplst { border: 1px solid #DDDDDD; height: 34px; border-radius: 8px; margin-right: 5px; color: #333333; }
.bigdroplst { border: 1px solid #DDDDDD; height: 46px; margin-right: 5px; color: #333333;padding-left: 5px;}
.droplist { display: inline-block; width: 100px; position: relative; vertical-align: middle; padding: 0; overflow: hidden; background-color: #fff; color: #555; border: 1px solid #DA0000; text-shadow: none; border-radius: 4px; transition: box-shadow 0.25s ease; z-index: 2; height: 30px; }
.droplist:hover { box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }
.droplist:before { content: ""; position: absolute; width: 0; height: 0; border: 10px solid transparent; border-top-color: #ccc; top: 14px; right: 10px; cursor: pointer; z-index: -2; }
.droplist select { cursor: pointer; padding: 10px; width: 100%; border: none; background: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; }
.droplist select:focus { outline: none; }
select { font-size: 15px; }