.indexCommonTitle { overflow: hidden; line-height: 66px; padding: 0 30px; border-top: 2px solid #007aff; border-bottom: 1px solid #ddd; position: relative; }
.indexCommonTitle .left { float:left;}
.indexCommonTitle .left span { font-size: 22px; font-weight: bold; color: #0064BC;}
.indexCommonTitle .left b { font-size: 16px; color:#afafaf; font-weight: bold; margin-left: 12px; }
.indexCommonTitle .right { float:right; font-size:16px; color:#ff5837; position: absolute;top:10px;right:20px}
.indexCommonTitle .right img{position: absolute;right:20px}
.indexCommonTitle .right .more {margin-left: 10px; vertical-align: -2px; }
.indexCommonTitle .center {font-size: 14px; line-height:1.5;width:658px;position: absolute;left:50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #da0000; font-weight: bold;}
.top .search {height:auto; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff url(advertisingQueryBg.jpg) no-repeat center top; -webkit-box-shadow: 0 0 14px rgba(67, 90, 142, 0.2); box-shadow: 0 0 14px rgba(67, 90, 142, 0.2);margin-bottom:-20px}
.top .search .searchInner { padding:20px 30px; }
.top .search .input > * { float: left; }
.top .search .input > * > div { float: left; }
.top .search .input input { width: 640px; height: 48px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; font-size: 16px; text-indent: 10px; }
.top .search .input .btn { width: 220px; height: 48px; text-align: center; line-height: 48px; background: #ff5837; color: #fff; font-size: 16px; margin-left: 10px; font-family: "Œ¢»Ì—≈∫⁄"; cursor: pointer; }
.top .search .input .btn div { vertical-align: middle; }
.top .search .input .accurateSearch { background:#4581fb; }
.top .search .input .accurateSearch a:hover{ color: #fff;background-image: linear-gradient(45deg, rgb(26, 146, 221) 0%, rgb(2, 102, 209) 100%);}
.top .search .input .accurateSearch a:hover{ color: #fff;background-image: linear-gradient(45deg, rgb(26, 146, 221) 0%, rgb(2, 102, 209) 100%);}
.top .search .tips { color: #da0000; margin-top: 10px; font-size: 16px; }
.top .filterNew { font-size: 0; padding-top:16px; position: relative; }
.top .filterNew > * { float: left; }
.top .filterNew > span { font-size:16px; font-weight: bold; margin-right: 20px; color: #666; display: block; height: 40px; line-height: 40px; }
.top .filterNew > div { width: 1080px;margin-top:6px;}
.top .filterNew > div a { padding: 0 21px;line-height: 30px;border-radius:4px;font-size:16px;color: #808080;display: inline-block; margin-right: 20px; margin-bottom: 14px;background: #F5F5F5;}
.top .filterNew > div a.active { color: #FFF; background: #ff5837;cursor: pointer; }
.top .filterNew > div a:hover { color: #FFF; background: #ff5837; cursor: pointer; }
.top .filterNew .advpk { position: absolute; top: 4px; right: 265px; }
.listContainer > div {margin-top:20px;background: #fff; -webkit-box-shadow: 0px 4px 6px 0px rgba(167, 167, 167, 0.2); box-shadow: 0px 4px 6px 0px rgba(167, 167, 167, 0.2); }
.advRankList .title { line-height: 40px; background: #da0000; color: #fff; text-align: center; }
.advRankList .advListTable { background: #fff; }
.advRankList .advListTable .table3 { height: 500px; overflow: hidden; }
.advRankList .advListTable .table3:hover { overflow: auto; }
.advRankList .advListTable .table3 .th { font-weight: bold;}
.advRankList .advListTable .table3 .td { font-size: 15px; color: #333; }
.advRankList .advListTable .table3 .td.purple { background: #fdbfff;}
.advRankList .advListTable .table3 td { text-align: center; border: 1px solid #dddddd; border-top: none; border-left: none; line-height: normal; height: 40px; }		
.advRankList .advListTable .table3 td:first-child { width: 100px; }
.advRankList .advListTable .table3 td:first-child .first { line-height: 28px; display: inline-block; width: 26px; height: 28px; background: url(rankBg1-1.png) no-repeat center center; }
.advRankList .advListTable .table3 td:first-child .second { line-height: 28px; display: inline-block; width: 26px; height: 28px; background: url(rankBg2-1.png) no-repeat center center; }
.advRankList .advListTable .table3 td:first-child .third { line-height: 28px; display: inline-block; width: 26px; height: 28px; background: url(rankBg3-1.png) no-repeat center center; }
.advRankList .advListTable .table3 td:first-child .four { line-height: 28px; display: inline-block; width: 26px; height: 28px; background: url(rankBg4.png) no-repeat center center; }
.advRankList .advListTable .table3 td:nth-child(2), .advRankList .advListTable .table3 td:nth-child(3) { width: 156px; }
.advRankList .advListTable .table3 td:nth-child(4) { width: 120px; }
.advRankList .advListTable .table3 td:nth-child(5) { width: 300px;}
.advRankList .advListTable .table3 td:nth-child(6) { width: 132px; }
.advRankList .advListTable .table3 td:nth-child(7) { width: 100px; }
.advRankList .advListTable .table3 td:last-child { width: 102px; }


.hotVideo { padding-bottom: 30px; }
.hotVideo .subList { overflow: hidden; padding: 22px 22px 0; }
.hotVideo .subList > li {position: relative;width: 360px; margin-right: 48px; float: left; line-height: 36px;padding-left: 26px; font-size:18px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.hotVideo .subList li i.circle{position:absolute;left:5px;top:15px;width:8px;height:8px;background:#6f7887}

.hotVideo .subList > li:nth-child(3n) { margin-right: 0; }
.hotVideo .subList > li .topVideo:hover .pic .mask { top: 0; }
.hotVideo .subList > li .topVideo:hover .pic .mask { top: 0; }
.hotVideo .subList > li .topVideo .pic { width: 100%; height: 236px; position: relative; overflow: hidden; }
.hotVideo .subList > li .topVideo .pic img { display: block; width: 100%; height: 100%; }
.hotVideo .subList > li .topVideo .pic .mask { position: absolute; background: rgba(0, 0, 0, 0); width: 100%; height: 100%; top: 0; left: 0; -webkit-transition: all .3s; transition: all .3s; }
.hotVideo .subList > li .topVideo .pic .mask .icon { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.hotVideo .subList > li .topVideo .desc { margin: 7px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 20px; }
.hotVideo .subList > li .topVideo .bottom { font-size: 12px; color: #999; overflow: hidden; }
.hotVideo .subList > li .topVideo .bottom li > div { vertical-align: -1px; }
.hotVideo .subList > li .topVideo .bottom li:first-child { float: left; margin-right: 50px; }
.hotVideo .subList > li .topVideo .bottom li:last-child { float: left; }
.hotVideo .subList > li .moreList { }
.hotVideo .subList > li .moreList li {  }
.gg { width: 1300px; overflow: hidden; margin: 0 auto; }
.searchtips { width: 1300px; height: 40px; line-height: 40px; text-align: center; border-bottom: solid 1px #DDDDDD; margin: 0 auto; border-top: solid 3px #2AAAE3; }
.ajaxlist tr.item:hover td { background: #FFFF99; }
.ajaxlist tr td a:hover{text-decoration:underline; }
/*Õ®”√-”“œ¬Ω«∏°∂Ø÷√∂•*/
.toolbar {width: 70px; position: fixed; right: 50%; bottom: 68px; margin-right: -768px; z-index: 301; background: #fff; border-radius: 10px; }
.toolbar li a { width: 100%; font-size: 12px; background: #fff; padding: 10px 0; border-bottom: 1px solid #ececec; display: block; text-align: center; position: relative; color: #777; }
.toolbar li a:hover { color: #ff552e; }
.toolbar li a i { display: block; font-size: 30px; margin: 0 auto 5px auto; color: #ff552e }
.toolbar .active_flop { width: 118px; height: 60px; background: url(//js.16pic.com/static/images/small_pic.png) no-repeat; display: inline-block; position: absolute; top: -80px; right: -24px; -webkit-animation: flop .8s ease infinite 80ms alternate; animation: flop .8s ease infinite 80ms alternate; }
.wx_kefuhover { position: relative; }
.wx_kefu { display: none; position: absolute; right: 80px; top: 0px; width: 160px; padding: 10px; background: #fff; border-radius: 14px; text-align: center; }
.wx_kefu img { width: 100%; }
.wx_kefuhover:hover .wx_kefu { display: block; }
.icon-bar-top { background: url("sprite.png") -947px -226px no-repeat; height: 30px }
.icon-lianxikefu{ background: url("sprite.png")  -691px -229px no-repeat; height: 30px }
.icon-bar-group{ background: url("sprite.png")  -819px -229px no-repeat; height: 30px }
.icon-bar-kefu{ background: url("sprite.png")  -753px -233px no-repeat; height: 30px }
.icon-bar-feed{ background: url("sprite.png")  -886px -232px no-repeat; height: 30px }
.total{color: #da0000;}
