.agentqq { border-top:2px solid #007AFF; background: #fff; text-align: center;}
.agentqq .title { line-height: 36px; font-weight: bold; }
.agentqq ul { border-top: 1px solid #dddddd;}
.agentqq li { width: 20%; float: left; height: 36px; line-height: 36px; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; -webkit-box-sizing: border-box; box-sizing: border-box; }
.agentqq li:nth-child(5n) { border-right: none; }
.agentqq li a { display: block; width: 100%; height: 100%; }
.agentqq li img { vertical-align: -3px; }

.currentTimeList { margin-bottom: 20px; }
.currentTimeList > div {}
.currentTimeList .table { width: 100%;border-left: 1px solid #dddddd; -webkit-box-shadow: 0 0 14px rgba(67, 90, 142, 0.1); box-shadow: 0 0 14px rgba(67, 90, 142, 0.1); }
.currentTimeList .table td:first-child { width: 220px; }
.currentTimeList .table td:nth-child(2) { width: 140px; }
.currentTimeList .table td:nth-child(3), .currentTimeList .table td:nth-child(4), .currentTimeList .table td:nth-child(6) { width: 180px; }
.currentTimeList .table td:nth-child(5) { width: 170px; }
.currentTimeList .table td:last-child { width: 124px; }
.currentTimeList .table1 td .orgA { display: inline-block; width: 56px; line-height: 24px; font-size: 12px; text-align: center; color: #fff; background: #ff5837; border-radius: 4px;}
.currentTimeList .table1 td:first-child { width: 110px; }
.currentTimeList .table1 td:nth-child(2) { width: 288px; }
.currentTimeList .table1 td:nth-child(3), .currentTimeList .table1 td:nth-child(4), .currentTimeList .table1 td:nth-child(5), .currentTimeList .table1 td:nth-child(6), .currentTimeList .table1 td:nth-child(7) { width: 140px; }
.currentTimeList .table1 td:last-child { width: 94px; }
.currentTimeList .table3 tr.recommend { background: #ffff00; }
.currentTimeList .table3 td { line-height: normal; height: 40px; }
.currentTimeList .table3 td:first-child { width: 140px; }
.currentTimeList .table3 td:nth-child(2), .currentTimeList .table3 td:nth-child(3) { width: 156px; }
.currentTimeList .table3 td:nth-child(4) { width: 106px; }
.currentTimeList .table3 td:nth-child(5) { width: 132px; }
.currentTimeList .table3 td:nth-child(6) { width: 270px; }
.currentTimeList .table3 td:nth-child(7) { width: 132px; }
.currentTimeList .table3 td:last-child { width: 102px; }
/*代理qq*/
.gonggao {width:1300px; height: 50px; border-bottom: none;line-height: 50px; background:#0558ad; color: #FFF; margin: 8px auto 0; font-size: 16px }
.gonggao span{font-size:18px}
.gonggao>input {margin-left: 8px;color:#0068b7;}
.gonggao>input:hover { cursor: pointer }

.new_list{ width:1300px; margin:0 auto 20px;text-align:left; background:#FFF}
.new_list h3{ height:40px; line-height:40px; margin-bottom:5px; padding: 0 14px; border-radius:14px; border-top-left-radius: 0;background: #ecf1ff;font-weight: bold; display: inline-block; margin-left:40px;}
.new_list p{ width:1260px; margin:0 auto; text-align:justify; text-indent:2rem; padding:10px 0;font-size:16px; line-height:2}
/*新闻*/
.news{ overflow: hidden; width: 1300px;  }
.news p{font-size:18px; margin-bottom:15px;}
.news .col-md-6{float: left;width: 612px; background: #FFF; padding: 15px 15px!important;  }
.news .col-md-6:first-of-type{ margin-right: 15px;}
.new-img{ position: relative;}
.fl{float: left;}
.newsli{width:385px; margin-left:25px;}
.new-img span{ position: absolute; left: 0; color: #fff; bottom: 0; line-height: 30px; padding-left: 10px; background: rgba(0,0,0,.5); display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.newsli li{ margin-bottom: 6px;}
.newsli li  span{ float: right;}
.newsli li a {width:260px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }