.commonContent { border-top: 2px solid #da0000;background: #fff;padding: 0 16px 30px; }
.secondaryMarket { background: #fff; padding: 0 30px 30px; }
.secondaryMarket .filter { background: #fff; padding: 20px 0 6px; position: relative; }
.secondaryMarket .filter .icon-sale { position: absolute; right: 60px; top: -2px; }
.secondaryMarket .filter .filterItem { line-height: 26px; font-size: 16px;}
.secondaryMarket .filter .filterItem > span { float: left; width: 75px; }
.secondaryMarket .filter .filterItem > div { float: left; }
.secondaryMarket .filter .filterItem .item { width: 1150px; }
.secondaryMarket .filter .filterItem .item a { color: #666; display: inline-block; margin-right:15px; margin-bottom: 16px; padding: 0 5px; border-radius: 4px; position: relative; }
.secondaryMarket .filter .filterItem .item a img { display: block; position: absolute; top: -17px; right: -6px; }
.secondaryMarket .filter .filterItem .item a.hot { color: #da0000; }
.secondaryMarket .filter .filterItem .item a:hover { color: #fff; background: #da0000; }
.secondaryMarket .filter .filterItem .item a.active { color: #fff; background: #da0000; }
.secondaryMarket .filter .filterItem .item a:last-child { margin-right: 0; }
.secondaryMarket .filter .filterItemInput { line-height: 30px; margin-bottom: 16px; }
.secondaryMarket .filter .filterItemInput input { width: 200px; height: 28px; border: 1px solid #dddddd; text-indent: 6px; }
.secondaryMarket .filter .filterItemInput .searchBtn { display: inline-block; vertical-align: -1px; margin-left: 5px; width: 60px; height: 28px; color: #fff; background: #da0000; border: 1px solid #da0000; outline: none; cursor: pointer; border-radius: 4px; font-size: 14px; line-height: 28px; text-align: center; }
.secondaryMarket .filter .filterItemInput .link { margin-left: 20px; display: inline-block; }
.secondaryMarket .rulesLink { margin-bottom: 30px; }
.secondaryMarket .rulesLink a { color: #da0000; text-decoration: underline; margin-right: 20px; }
.secondaryMarket .sort { line-height: 40px; border: 1px solid #e1e1e1; padding-right: 30px; }
.secondaryMarket .sort .lf li { float: left; width: 100px; text-align: center; border-right: 1px solid #E1E1E1; cursor: pointer; }
.secondaryMarket .sort .lf li em { display: none; }
.secondaryMarket .sort .lf li.active { color: #da0000; }
.secondaryMarket .sort .lf li.active em { display: inline; }
.secondaryMarket .sort .lf li.active span { display: none; }
.secondaryMarket .sort .rt { color: #888; }
.secondaryMarket .sort .rt span { color: #D60203; }
.secondaryMarket .listc { margin-top: 20px; }
.secondaryMarket .listc li { display: inline-block; vertical-align: middle; text-align: center; }
.secondaryMarket .listc li:first-child { width:800px; text-align: left; padding-left: 25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.secondaryMarket .listc li:nth-child(2) { width: 175px; }
.secondaryMarket .listc li:nth-child(3) { width: 225px; }
.secondaryMarket .listc li:nth-child(4) { width: 155px; }
.secondaryMarket .listc .th { line-height: 46px; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; }
.secondaryMarket .listc .list .listItem { border-bottom: 1px dashed #dddddd; line-height: 70px; }
.secondaryMarket .listc .list .listItem:hover li:first-child { color: #da0000; text-decoration: underline; }
.secondaryMarket .listc .list .listItem:hover li:nth-child(3) { color: #da0000; }
.secondaryMarket .listc .list .listItem:hover li:nth-child(4) div { background: #da0000; }
.secondaryMarket .listc .list .listItem li:first-child { font-size: 16px; }
.secondaryMarket .listc .list .listItem li:first-child { font-size: 16px; }
.secondaryMarket .listc .list .listItem li:first-child .hry {color: #da0000;}
.secondaryMarket .listc .list .listItem li:first-child .hry2 {color: #FF9A00;}
.secondaryMarket .listc .list .listItem li:first-child .hry3 {color: #319A00;}
.secondaryMarket .listc .list .listItem li:nth-child(2) { font-size: 16px; color: #da0000; font-weight: bold; }
.secondaryMarket .listc .list .listItem li:nth-child(3) { font-size: 16px; }
.secondaryMarket .listc .list .listItem li:nth-child(4) { text-align: center; }
.secondaryMarket .listc .list .listItem li:nth-child(4) div { display: inline-block; width: 80px; height: 30px; color: #fff; background: rgba(218, 0, 0, 0.8); border: 1px solid #da0000; outline: none; cursor: pointer; border-radius: 4px; font-size: 16px; line-height: 30px; text-align: center; }
.secondaryMarket .paginationWrapper { margin-top: 30px; }
.digg { height: 60px; line-height: 60px; overflow: hidden; text-align: center; }
.digg a, .digg span { padding: 8px 15px; border: solid 1px #F6F6F6; margin-right: 5px; }
.digg span.current { background-color: #DA0000; color: #FFFFFF; }
