.secondaryMarket .personCommonInput { margin-bottom: 18px; width: 1020px; margin-left: 74px; }
.secondaryMarket .personCommonInput > ul li { float: left; }
.secondaryMarket .personCommonInput .input span { display: inline-block; line-height: 44px; color: #333; font-size: 16px; width: 80px; text-align: right; }
.secondaryMarket .personCommonInput .input input { width: 340px; height: 44px; border: 1px solid #dddddd; text-indent: 10px; font-size: 16px; color: #666; }
.secondaryMarket .personCommonInput .input select { height: 44px; width: 220px; border: 1px solid #dddddd; outline: none; text-indent: 10px; font-size: 16px; }
.secondaryMarket .personCommonInput .input b {color: #d60203; }
.secondaryMarket .personCommonInput .input input:focus { border: 1px solid #da0000; }
.secondaryMarket .personCommonInput .errorMsg { color: #ff6600; font-size: 14px; line-height: 44px; margin-left: 8px; }
.secondaryMarket .personCommonInput .Validform_right { color: #71b83d; }
.secondaryMarket .personCommonInput .uploadImg { display: inline-block; vertical-align: top; }
.secondaryMarket .personCommonInput .uploadImg .pic { width: 160px; height: 120px; border: 1px solid transparent; overflow: hidden; margin-bottom: 18px; }
.secondaryMarket .personCommonInput .uploadImg .pic img { display: block; width: 100%; height: 100%; }
.secondaryMarket .personCommonInput .uploadImg .upload { float: left; font-size: 16px; color: #fff; background: #da0000; width: 100px; line-height: 34px; cursor: pointer; position: relative; text-align: center; border-radius: 6px; }
.secondaryMarket .personCommonInput .uploadImg .upload input { display: block; width: 100%; height: 100%; opacity: 0; position: absolute; left: 0; top: 0; cursor: pointer; }
.secondaryMarket .personCommonInput .uploadImg .tips { float: left; font-size: 12px; margin-left: 10px; }
.secondaryMarket .personCommonInput .uploadImg .tips p:last-child { color: #888; }
.secondaryMarket .personCommonInput .uploadImg .picList { display: inline-block; width: 700px; overflow: hidden; }
.secondaryMarket .personCommonInput .uploadImg .picList .pic { display: block; float: left; margin-right: 16px; position: relative; }
.secondaryMarket .personCommonInput .uploadImg .picList .pic .icon-deletePic { position: absolute; right: 2px; top: 2px; cursor: pointer; }
.secondaryMarket .personCommonInput .uploadImg .picList .defautlPic .icon-deletePic { display: none; }
.secondaryMarket .personCommonInput .uploadImg .picList .pic:nth-child(4n) { margin-right: 0; }
.secondaryMarket .personCommonInput2 { position: relative; }
.secondaryMarket .personCommonInput2 .errorMsg { position: absolute; top: -34px; right: 70px; }
.secondaryMarket .price .input input { width: 218px; }
.secondaryMarket textarea { vertical-align: top; width: 860px; height: 160px; resize: none; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dddddd; font-size: 16px; padding: 12px 5px 5px 10px; font-family: "microsoft yahei"; outline: none; }
.secondaryMarket textarea:focus { border: 1px solid #da0000; }
.secondaryMarket .line { width: 1020px; height: 0; border-top: 1px solid #dddddd; margin: 30px auto 0; }
.secondaryMarket .submit { display: block; margin: 30px auto; cursor: pointer; }
.secondaryMarket .personCommonInput .input span.mianyi { width: 50px; margin-left: 10px; font-size: 14px; line-height: 18px; }
.secondaryMarket .personCommonInput .input input[type=checkbox] { width: 18px; height: 18px; float: left; }
